<h1>Starting with the Directives in Angular</h1>

<h3> If Case </h3>
<p *ngIf="true">This is the if block</p>
<p> ------ </p>
<h3> Switch Case </h3>
<div class="container" [ngSwitch]="myVar">
<div *ngSwitchCase="'A'">Var is A</div>
<div *ngSwitchCase="'B'">Var is B</div>
<div *ngSwitchDefault>Var is something else</div>
</div>
<p> ------ </p>


<h3> NgStyle Case </h3>
<div [style.background-color]="'yellow'"> Uses fixed yellow background
</div>

<div [ngStyle]="{color: 'white', 'background-color': 'blue'}"> Uses fixed white text on blue background
</div>

<p> ------ </p>

<h3> For Case  with the index display example</h3>

<table class="ui celled table"> <thead>
<tr>
  <th>Index</th>
  <th>Name</th>
    <th>Age</th>
    <th>City</th>
</tr>
</thead>
<tr *ngFor="let p of people ; let num = index">
  <td>{{ num }}</td>
  <td>{{ p.name }}</td>
  <td>{{ p.age }}</td>
  <td>{{ p.city }}</td>
</tr> </table>


<p> ------ </p>



<div class="inventory-app">
  <!-- <h1>{{ product.name }}</h1>
  <span>{{ product.sku }}
  </span>
   -->
   <app-product-list
   [productList]="products"
   (onProductSelected)="productWasSelected($event)"
   ></app-product-list>




</div>
